/* Aquests son els estils generals */

/* aquest estil s'aplica a tota la pàgina */
body {
    font-family: Arial, sans-serif; /* aqui defineixo el tipus de lletra per tot el body */
    margin: 0; 
    padding: 0; 
    display: flex; /*  contenidor flex per que s'organitxi de manera vertical vertical */
    flex-direction: column; /* fa que els elements  es posin en columna */
    min-height: 100vh; /* fa que el cos ocupi tota l'alçada de la pantalla */
}

/* aquest estil és per al header, amb un color de fons */
header {
    background-color: #004d99; /* defineix el color de fons blau del header */
    color: white; /* defineix el color del text com blanc */
    height: 55px; /* estableix una alçada específica per al header */
    display: flex; /* habilita la disposició flex per que es posi tot tot correctament */
    justify-content: space-between; /* separa els elements a cada costat del header */
    align-items: center; /* centra verticalment el contingut */
}

/* aquests estils són per als headers de la pàgina */
h1 {
    color: #083d72; /* defineix el color del text blau fosc */
    font-family: 'Times New Roman', Times, serif; /* defineix el tipus de lletra */
    font-weight: bold; /* aplica estil de text en negreta */
    text-shadow: 1px 1px black; /* afegeix una ombra per un estil diferent */
}

h2 {
    color: #083d72; /* color blau fosc per a h2 */
    font-family: 'Times New Roman', Times, serif; /* mateixa tipografia que h1 */
    font-weight: bold; /* aplica negreta */
    text-shadow: 1px 1px black; /* ombra igual que h1 */
}

h3 {
    color: #083d72; /* color blau fosc per a h3 */
    font-family: 'Times New Roman', Times, serif; /* mateixa tipografia que altres headers */
}

/* estil per a enllaços amb classe url */
.url {
    text-decoration: none; /* elimina el subratllat dels enllaços */
    font-weight: bold; /* estil de text en negreta */
    color: #004d99; /* color blau */
    text-shadow: white 2px 2px; /* afegeix una ombra blanca */
}

/* estil per a textos en negreta */
.negreta {
    font-weight: bold; /* aplica negreta */
    text-shadow: 1px 1px; /* aplica ombra perque queda millor  */
    color: #004d99; /* defineix el color blau */
}

.negreta2 {
    color: black; /* text negre */
    font-weight: bold; /* aplica negreta */
    font-family: 'Times New Roman', Times, serif; /* tipografia de times new roman */
    font-size: large; /* fa mes gran la mida del text */
    text-shadow: 2px 2px grey; /* ombra gris */
    display: flex; /* defineix display flex */
}

/* estil per a la secció de contacte */
#contacte {
    background-color: #ccc; /* color de fons gris clar */
    margin-left: 200px; /* marges esquerra */
    margin-right: 200px; /* marges dreta */
    border-radius: 10px; /* els costats arrdonits */
    padding: 20px; /* espai de dins del bloc */
    margin-top: 15px; /* marge de sobre */
    box-shadow: 10px 10px 10px grey; /* afegeix una ombra per donar profunditat i que sembli que flota */
}

/* estil per a llistes dins del menú de navegació */
nav ul {
    list-style: none; /* elimina les marques de llista aquelles de (123, punts i numeros romans) */
    padding: 0; /* elimina padding */
    margin: 0; /* elimina marges */
    display: flex; /* disposaa els elements en fila */
    gap: 20px; /* aixo es la separacio dels elements */
}

/* estil per als enllaços dins del menú de navegació */
nav ul li a {
    color: white; /* text en blanc */
    text-decoration: none; /* elimina el subratllat dels enllaços */
    border-radius: 5px; /* arroduneix els cantons */
    padding: 7px 15px; /* espai del butó de manera interna per ajustar la mida del botó */
    background-color: #004d99; /* fons blau per l'enllaç */
}

/* estil de hover(quan pases el ratolí per sobre) per als enllaços del menú de navegació */
nav ul li a:hover {
    color: white; /* text es manté en blanc */
    text-decoration: none; /* subratllat eliminat en hover */
    font-weight: bold; /* aplica negreta */
    border-radius: 5px; /* manté l'arrodonit */
    background-color: rgb(61, 117, 201); /* canvia el fons en hover */
}

/* estil per a la icona d'hamburguesa per a dispositius mes petits */
.hamburguesa {
    display: none; /* amagat per defecte, només apareix en dispositius mòbils o si fas la pantalla petita */
    font-size: 30px; /* mida de la icona */
    cursor: pointer; /* canvi del cursor en passar per sobre */
}

/* estil per a blocs d'informació com l'inici i la presentació del CV */
.inici, .presentacio-cv {
    background-color: #e6f2ff; /* color de fons clar */
    padding: 50px 50px; /* espai de dins per igual a tots costats */
    text-align: center; /* centra el text dins del bloc */
}

/* estil per a un enllaç dins d'un paràgraf */
#linkp {
    color: white; /* text en blanc */
    text-shadow: blue 1px 1px; /* ombra blava per un estil mes diferent */
}

/* estil per als botons*/
.cta-button {
    display: inline-block; /*  el botó en línia */
    margin-top: 20px; /* marge superior */
    padding: 10px 20px; /* espai de dins del butó per definir la mida */
    background-color: #004d99; /* fons blau */
    color: white; /* text en blanc */
    text-decoration: none; /* elimina el subratllat */
    border-radius: 5px; /* els cantons son arrodonits */
}

/* estil de hover per al botó cta-button */
.cta-button:hover {
    display: inline-block; /* es manté en línia */
    margin-top: 20px; /* manté marge superior */
    padding: 10px 20px; /* manté la mida */
    background-color: #004d99; /* fons blau */
    color: white; /* text es manté en blanc */
    text-decoration: none; /* elimina subratllat */
    border-radius: 5px; /* manté cantons arrodonits */
    font-weight: bold; /* fa que el text sigui negreta en pasar per sobre  */
    box-shadow: 3px 3px grey; /* afegeix ombra perque resaltin més en pasar per sobre */
}

/* Els següents estils asseguren que les seccions i els divs de cada tema comparteixin un estil semblant */

/* fa padding per espaiat a les seccions de serveis, projectes, habilitats, i pagines */
.serveis, .projectes, .habilitats, .pagines {
    padding: 50px 20px;
}

/* Defineix una estructura de graella de 3 columnes amb espaiat entre elements per a cada secció de contingut */
.serveis-grid, .projectes-grid, .habilitats-grid, .pagines-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    margin-top: 25px;
}

/* Estil per als blocs individuals dins de cada graella, amb color de fons, padding, border-radius i ombra */
.servei, .projecte, .habilitat, .pagina {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px grey;
}

/* Defineix l'estil general de blocs amb un color de fons clar, padding i marges horitzontals */
.blocs {
    background-color: #ccc;
    padding: 40px 40px;
    margin-left: 25px;
    margin-right: 25px;
}

/* Estil per a cada bloc individual, amb color de fons, padding, bordes arrodonits, ombra, alineació centrada i espai vertical */
.bloc {
    background-color:#004d99;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px grey;
    align-content: center;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

/* Footer amb color de fons i text blanc, padding per espaiat i alineat a la part inferior de la pàgina */
footer {
    background-color: #004d99;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 0;
}

/* Slider estilitzat amb mida fixa, ombra i transició per a efectes suaus */
.slider {
    position: relative;
    max-width: 100%;
    margin: 20px auto;
    overflow: hidden;
    height: 350px;
    width: 600px;
    box-shadow: 5px 5px 5px 5px grey;
    object-fit: cover;
}

/* Contenidor de diapositives amb transició suau per a moviment d'slider */
.slides {
    display: flex;
    transition: transform 0.5s ease;
}

/* Estil de cada slide, ocupant la mida completa del slider */
.slide {
    min-width: 100%;
    height: 350px;
}

/* Estil de les imatges dins de cada slide perquè omplin completament */
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Botons de control del slider, color blanc i posició per a la navegació */
.prev, .next {
    cursor: pointer; /* fa que el cursor canviï quan passes el ratolí */
    position: absolute; /* així els podem posicionar amb precisió dins el slider */
    top: 50%; /* centra els botons verticalment */
    width: auto; /* auto, per ajustar-se bé al contingut */
    margin-top: -22px; /* els centra exactament al mig */
    padding: 16px; /* afegeix espai dins dels botons */
    color: white; /* fa el text del botó blanc */
    font-weight: bold; /* el text en negreta per fer-lo destacar */
    font-size: 18px; /* mida de la lletra grandeta per que es vegi bé */
    transition: 0.6s ease; /* fa que el canvi de color vagi suau */
    border-radius: 0 3px 3px 0; /* arrodoneix el cantó dret */
    user-select: none; /* no deixa que seleccionis el text sense voler */
    background-color: #004d99; /* color de fons blau dels botons */
}

/* Posiciona el botó 'next' a la dreta del slider */
.next {
    right: 0; /* el posa a la dreta del tot */
    border-radius: 3px 0 0 3px; /* arrodoneix el cantó esquerre */
}

/* Quan hi passes el ratolí, el color de fons dels botons canvia */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8); /* fons fosc quan fas hover */
}

/* Posa aside en posició relativa per col·locar-lo on vull */
aside {
    position: relative;
    align-content: right; /* alinea contingut a la dreta */
}

/* Estils del formulari de registre */

/* Reset de tots els elements dins del formulari */
* {
    box-sizing: border-box;
    margin: 0; /* treu marges */
    padding: 0; /* treu espai dins els elements */
    font-family: Arial, Helvetica, sans-serif; /* lletra clara i llegible */
}

/* Configura el formulari amb fons blau, padding i centrat */
form {
    background-color: #004d99; /* fons blau del formulari */
    position: fixed; /* posició fixa per centrar-lo */
    padding: 20px; /* espai dins del formulari */
    left: 50%; /* centra a l’esquerra */
    top: 50%; /* centra verticalment */
    border-radius: 6px; /* arrodoneix els cantons */
    transform: translate(-50%, -50%); /* ajusta per centrat total */
    width: 320px; /* amplada fixa */
}

/* Estil per al títol dins el formulari, font gran i text centrat */
#títol {
    background-color: #42c3ff; /* fons del títol en blau clar */
    padding: 12px; /* espai al voltant del text */
    border: 0; /* sense borde */
    border-radius: 6px; /* cantons arrodonits */
    width: 100%; /* títol ocupa tota l'amplada */
    text-align: center; /* text centrat */
    color: white; /* text en blanc */
    font-size: 20px; /* lletra més gran */
}

/* Estil per les etiquetes dins del formulari */
label {
    color: white; /* text en blanc */
    font-size: 14px; /* lletra mida normaleta */
}

/* Espai entre camps dins del formulari */
.form-group {
    margin-top: 15px; /* separació entre cada camp */
}

/* Estil per a inputs i selects amb color de fons blanc */
select, input.input-field {
    width: 100%; /* que agafin tota l'amplada */
    background-color: white; /* fons blanc pels camps */
    border: 1px solid #ccc; /* borde clar */
    border-radius: 6px; /* cantons arrodonits */
    padding: 10px; /* espai dins els camps */
    font-size: 14px; /* lletra normal */
}

/* Espai entre checkbox i el text */
#checkbox_condicions {
    margin-top: 1em;
}

/* Estil del text de les condicions */
#condicions {
    margin-left: 6px; /* espai entre checkbox i text */
    font-size: 14px; /* mida de text normal */
}

/* Estil del botó, fons blau clar, transició suau */
button {
    background-color: #42c3ff; /* fons del botó en blau clar */
    padding: 12px; /* espai dins el botó */
    border: none; /* sense borde */
    border-radius: 6px; /* cantons arrodonits */
    color: white; /* text en blanc */
    font-size: 16px; /* lletra més gran */
    width: 100%; /* ocupa tota l'amplada */
    cursor: pointer; /* cursor per indicar que és clicable */
    transition: 0.3s ease; /* fa que sigui suau quan pasis per sobre amb el ratolí */
}

/* Canvia el color del botó quan hi passes el ratolí */
button:hover {
    background-color: #100153;
}

/* Estils per a la secció del currículum */
.presentacio-cv {
    background-color: #e6f2ff; /* fons blau clar */
    padding: 50px 50px; /* espai dins de la secció */
    text-align: left; /* text alineat a l’esquerra */
}

.contingut-p-cv {
    display: flex; /* per alinear elements en fila */
    align-items: center; /* centra verticalment */
    background-color: #87abcf; /* fons blau com gris */
    box-shadow: 4px 4px 4px grey; /* ombra al voltant */
}

.detalls-cv {
    padding: 50px 20px; /* espai dins dels detalls */
}

.detalls-cv-grid {
    display: grid; /* distribució en el grid */
    grid-template-columns: repeat(3, 1fr); /* tres columnes iguals */
    gap: 20px; /* espai entre columnes */
    margin-top: 25px; /* separacio per sobre */
}

/* Estil per a imatges alineades a la dreta */
.imatges-esquerre {
    float: right;
    margin-right: 20px; /* espai a la dreta de la imatge */
}

/* Estil per a les dades del CV */
.dades-cv {
    border: solid 3px #004d99; /* borde blau */
    background-color: cornflowerblue; /* fons blau clar */
    padding: 20px; /* espai dins de la secció */
    flex: 1; /* ocupa el mateix espai que altres elements */
}

/* Estils per ajustar algunes coses i per decoració */
.incibe {
    color: #df0000;
    text-shadow: 2px 2px yellow; 
}

.green{
    color:#168000;
    text-shadow: 1px 1px black;
    
}
.pink{
    color:#e613b8;
    text-shadow: 2px 2px orange;
}
.blaucel{
    color:#0097c6;
    text-shadow: 2px 2px grey;
}
.blue{
    color:#1410fa;
    text-shadow: 2px 2px grey;
}
.centrat{
    text-align: center;
}
.detall {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
}
.h2-cv-sm{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #115aa3;
    padding: 10px 10px;
    border:solid 5px black
}

#h1-cv{
color: white;
text-shadow: 1px 1px grey;
}

#h1-sm{
    color: white;
    text-shadow: 1px 1px grey; 
}

.detall h2 {
    color: #333;
    margin-bottom: 15px;
}
.detall p {
    font-size: 16px; 
    line-height: 1.6;
    margin-bottom: 10px;
}
/*Aquests estils són de la pàgina del cv*/



/* Aquest bloc és perqué la pàgina sigui responsive (s'adapti al dispositiu) */
@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        background-color: #004d99;
        position: absolute;
        top: 55px;
        right: 0;
        left:0;
        width: 100%;
        text-align: center;
        padding: 30px 0px;
    }

    nav ul.mostrar {
        display: flex;
    }

    .hamburguesa {
        display: block;       
    }

    .serveis-grid, .projectes-grid, .habilitats-grid, .pagines-grid, .detalls-cv-grid {
        grid-template-columns: 1fr;
    }
}

